.user-stats{
  display: flex;
  flex-direction: column;
  gap:7px;

  &__headers{
    display:grid;
    grid-template-columns: 2fr  3fr 2fr 2fr 2fr;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__statistic{
    display:grid;
    grid-template-columns: 2fr  3fr 2fr 2fr 2fr;
    text-align: center;
  }
}


.user-stats__wrapper{
  margin-top: 20px;
}


